
<div>
 <%=image_tag(Listing.find(params[:id]).image, :class => "container-fluid listing-profile-img ")%>
</div>

<div class="container">
 <div class="row" style="margin-top: 3%; margin-bottom: 3%;">
  <div class="col-sm-12 col-md-6">
   <div class="container" style="margin: auto; padding-top: 5%;">
    <h3> <%= @listing.title %> </h3>
    <div> <%= @listing.property_scope %> with a maximum of <%= @listing.number_of_guests %> guests </div>
    
    <div> Amenities available to guest:  </div>
    <% @amenities.each do |amenity| %>
    <%= amenity.amenity %>
    <% end %>    
    
    <p><%= Listing.find(params[:id]).description%></p>

  </div>
</div>

<div class="col-sm-12 col-md-6">
 <div class="login-form">
  <div class="container">   
    <div class="login-form profile-booking">
     <div class="main-div">
      <div class="panel">

        <h2 style="color: #ff6969; font-size: 25px;"><strong>Price per night: <%= Listing.find(params[:id]).price_per_night %> </strong></h2>           

      </div>
      <!-- create_booking_path(params[:id]) -->
      <%= form_for :booking, url: braintree_new_path(params[:id]), id: "create-booking", class: "listings" do |form| %>

      <div class="form-group" style="margin-top: 2%;">

        <div class="row">

         <div class="col-md-6 form-group">
          <label>Check In</label>
          <input type="date" class="form-control" id="inputCheckin" name="booking[start_date]">
        </div>

        <div class="col-md-6 form-group">
          <label>Check Out</label>
          <input type="date" class="form-control" id="inputCheckout" name="booking[end_date]">
        </div>

      </div>

      <div class="form-group">
        <label for="selectGuests">Guests</label>
        <select class="form-control" id="selelctGuests" name="booking[num_guests]">
         <option>1</option>
         <option>2</option>
         <option>3</option>
         <option>4</option>
         <option>5</option>
         <option>6</option>
         <option>7</option>
         <option>8</option>
       </select>          
     </div>
     <input type="hidden" value="" name="booking[total_price]">
     <input type="hidden" value="<%=current_user.id%>" name="booking[user_id]">
     <input type="hidden" value="<%= params[:id]%>" name="booking[listing_id]">      
     <button type="submit" class="btn btn-primary">Book</button>

     <%end%>  
   </div>
 </div>
</div>
</div>
</div>
</div>

</div>
</div>
