<div class="login-form">
   <div class="container">   
      <div class="login-form">
         <div class="main-div">
            <div class="panel">

               <h2>AirBnB</h2>

               <form method="post" action="/login">
                  <button type="submit" class="btn btn-danger btn-gplus btn-lg"><i class="fa fa-google-plus pr-1"></i> Login with Google +</button>               
               </form>

               <a href="#" data-toggle="collapse" data-target="#login-form">or using your email</a>

            </div>
            <div id="login-form" class="collapse">
               <form id="Login">

                <div class="form-group">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" name="user[email]">
               </div>

               <div class="form-group">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="user[password]">
               </div>

               <div class="forgot">

                  <a href="reset.html">Forgot password?</a>
               </div>

               <button type="submit" class="btn btn-primary">Login</button>

            </form>
         </div>
      </div>
   </div>
</div>
</div>











<form action="/birthdate_session">
 Birthday (date and time):
 <input type="date" name="user[birthdate]">
 <input type="submit" value="Send">
</form>



<%= link_to "Sign in with Google", "/auth/google_oauth2" %>
<% if signed_in? %>
Signed in as: <%= current_user.email %>
<%= button_to 'Sign out', sign_out_path, method: :delete %>
<% else %>
<%= link_to 'Sign in', sign_in_path %>
<% end %>

<div id="flash">
 <% flash.each do |key, value| %>
 <div class="flash <%= key %>"><%= value %></div>
 <% end %>
</div>
