
<div class="container" style="margin-top: 5%;">

 <div class="row">
  <div class="col-sm-12" >
   <%=image_tag(User.find(params[:id]).avatar, :class => "profile-row-item")%>   

   <%= form_for current_user, url: "/users/#{current_user.id}", :class => "profile-row-item", method: "patch" do |f| %>

   <%= f.file_field :avatar %> 

   <%= f.submit "edit" %>
   <% end %>

 </div>


 <div class="col-sm-6 offset-3" style="margin-top: 3%;">
  <div class="card">
   <div class="card-header">
     <%= @user_name %>
   </div>
   <div class="card-body">
    <h5 class="card-title">About user</h5>
    <p class="card-text"><%= @description %></p>         
    <% if current_user.id == params[:id].to_i %>         
    <a href="#" class="btn btn-primary">Update Description</a>
    <% end %>
  </div>
</div>
</div>
</div>



<% if @has_listings %>

<div class="container">
  <div class="row" style="text-align: center;">

    <div class="col-sm-12" style="text-align:center; margin-top: 5%;">         
     <h2 > Hosted property </h2>
   </div>

   <div class="container listings-search-results">

    <% @listings.each do |listing| %>    
    
    <%= style_listings(listing).html_safe %>
    
    
    <!-- PARAMS ID IS WRONG!!! NOT ID FOR LISTING -->
    <%= form_for listing, url: "/listing/#{listing.id}", :class => "profile-row-item", method: "patch" do |f| %>

    <%= f.file_field :image %> 

    <%= f.submit "edit" %>
    
    <% end %>
    <% end %>
  </div>
</div>
<% end %>

</div>   
</div>



</div>