<!DOCTYPE html>
<html>
<head>
  <title>Airbnb</title>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.jpg' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">    

    <a href="#"><%=link_to image_tag('logo.png')%></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if signed_in? %>
    <form class="form-inline my-2 my-lg-0">
     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   </form>
   <%end%> 
   
   <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
       <% if signed_in? %>
       <%= button_to 'Sign out', sign_out_path, method: :delete %>
       <!-- class="btn btn-default", -->
       <%end%> 
     </li>     
   </ul>

 </div>
</nav>

<!-- Background pic -->
<div class="background-picture">


  <%= yield %>


</div>
</body>
</html>
